<html>
<body>
    <h1>Immaculate Pour</h1>
    <table>
        <thead>
            <th scope="col"></th>
            <th scope="col">
                <button>Guess Beer</button>
            </th>
            <th scope="col">
                <button>Guess Beer</button>
            </th>
            <th scope="col">
                <button>Guess Beer</button>
            </th>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Row 1</th>
                <td>
                    <button>Guess Beer</button>
                </td>
                <td>
                    <button>Guess Beer</button>
                </td>
                <td>
                    <button>Guess Beer</button>
                </td>
            </tr>
            <tr>
                <th scope="row">Row 2</th>
                <td>
                    <button>Guess Beer</button>
                </td>
                <td>
                    <button>Guess Beer</button>
                </td>
                <td>
                    <button>Guess Beer</button>
                </td>
            </tr>
            <tr>
                <th scope="row">Row 3</th>
                <td>
                    <button>Guess Beer</button>
                </td>
                <td>
                    <button>Guess Beer</button>
                </td>
                <td>
                    <button>Guess Beer</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>